name: Releases

on:
  push:
    tags:
    - v**

jobs:
  release:
    name: 自动发布
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: ncipollo/release-action@v1
        with:
          artifacts: ".release_tool/app-arm64-v8a-release.apk,.release_tool/Mercurius for Windows.zip"
          tag: "v1.2.0+75"
          bodyFile: ".release_tool/body.md"
          skipIfReleaseExists: true
          token: ${{ secrets.WAREHOUSE_TOKEN }}
